fastapi == 0.79.0
requests == 2.27.1
uvicorn == 0.18.2
gunicorn == 20.1.0
python-multipart == 0.0.5
numpy
opencv-python
scikit-learn
asyncio
openai
gradio
scikit-image
fastapi-socketio
librosa
soundfile
aiohttp
wit
google_images_search
googletrans
sympy
transformers